@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat";
}

.catalog-menu-cards-container,.catalog-menu-cards,.catalog-menu-page-buttons-container,.search-menu-input-div{
    display: flex;
}

.catalog-menu-cards-container{
    flex-direction: row;
}

.catalog-menu-page{
    margin-top: 5px;
    margin-left: -50px;
}


.catalog-menu-cards,.search-menu-input-div{
    flex-direction: column;
}

.heading{
    color:rgb(148, 123, 0);
    margin-top: 70px;
    text-align: center;
}

.catalog-menu-cards-container{
    width: 100%;
    margin-top: 20px;
}

.image{
    width: 6rem;
    height: auto;
}

.catalog-menu-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    gap:20px;
    align-items: center;
    justify-content: center;
}

.catalog-menu-cards{
    align-items: center;
    padding: 12px 2px 22px 12px;
    width: 14rem;
    height: auto;
    box-shadow: .2px .2px 12px .2px lightgray ;
}

.catalog-menu-cards button{
    font-family: "Montserrat";
    border: none;
    outline: none;
    padding: 4px 2px 4px 2px;
    width: 6rem;
    margin-top: 6px;
    font-size: .83rem;
    background: linear-gradient(to left,rgb(255, 128, 0),rgb(255, 136, 0));
}


.catalog-menu-cards button:hover{
    color: white;
    background: linear-gradient(to left,rgb(183, 52, 0),rgb(186, 65, 0));
    cursor: pointer;

}
.catalog-menu-page-buttons-container{
    box-shadow: .2px .2px 12px .2px lightgray;
    height: 35vh;
    justify-content: center;
    flex-direction: column;
}
.catalog-menu-page-buttons-container{
    position: fixed;
    left: 78%;
    width: 22%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.catalog-menu-page-buttons-container{
    gap:20px;
}

.catalog-menu-page-buttons-container button,.show-filter-bar-button{
    font-family: "Montserrat";
    color: white;
    padding: 5px 10px 5px 10px;
}

.catalog-menu-page-buttons-container button{
    font-size: .7rem;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 200px;
    background: linear-gradient(to left,rgb(148, 123, 0),rgb(186, 136, 0));
    /* border: 2px solid rgb(183, 52, 0); */
}

.show-filter-bar-button{
    cursor: hover;
    z-index: +1;
    font-size: .8rem;
    border: none;
    position: fixed;
    right: 0;
    background: linear-gradient(to left,rgb(142, 118, 0),rgb(128, 94, 0));
}

.show-filter-bar-button:hover{
    transition: .2s;
    background: white;
    box-shadow: .2px .2px 12px .2px lightgray;
    color: rgb(142, 118, 0);

}

.catalog-menu-page-buttons-container button:hover{
    background: white;
    color:rgb(148, 123, 0);
    cursor: pointer;
    transition: .2s;
}

.search-menu-input-div{
    top:8.6%;
    padding-bottom: 20px;
    box-shadow:.2px .2px 12px .2px whitesmoke;
    z-index: +1;
    background: white;
    position: fixed;
    left: -5%;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-menu-input-div h4{
    font-family: "Montserrat";
    color: rgb(142, 118, 0);
}

.search-menu-input p{
    margin-top: -10px;
}
.search-menu-input{
    margin-top: -10px;
    width: 50%;
    height: 4vh;
    box-shadow: .2px .2px 12px .2px lightgray;
    outline: none;
    border: none;
    padding: 5px 2px 4px 8px;

}


.search-menu-input::placeholder{
    font-size: .9rem;
}

.item-added-message{
    position: fixed;
    left: 35%;
    top:20%;
    background: orange;
    z-index: +1;
    box-shadow: .2px .2px 12px .2px lightgray;
    width: 28%;
    padding:2px 2px 2px 22px;

}

.item-already-added-msg{
    color: white;
}


.login-welcome-back-message{
    color:green;
}